---
import Hero from "../sections/Hero.astro";
import TextBox from "../sections/TextBox.astro";
import Testimonials from "../sections/Testimonials.astro";
import Proyects from "../sections/Proyects.astro";
import Partners from "../sections/Partners.astro";
import Contact from "../sections/Contact.astro";
import Footer from "../sections/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Navbar from "../sections/Navbar.astro";
import Pricing from "../sections/Pricing.astro";
---

<Layout
  title="Desarrollo y diseño web profesional"
  description="desarrollo de sitios web profesionales y tiendas online"
>
  <main>
    <Navbar />
    <Hero />
    <TextBox />
    <Partners />
    <Proyects />
    <Testimonials />
    <Pricing />
    <Contact />
  </main>
  <Footer />
</Layout>

