<footer class="flex place-content-center bg-secondary">
  <div class="container text-center mt-8 p-10 text-white">
    <div class="flex flex-col items-center">
      <div
        class="flex items-center flex-col sm:flex-row gap-3 sm:gap-1 mt-4 mb-4 text-xl"
      >
        <span>Diseño y desarrollo web - </span><a
          class="px-1 rounded-3xl hover:scale-110 transition dark:bg-white ml-1"
          href="https://www.datapro.cl"
          target="_blank"
          rel="noreferrer"
          title="ir a la página de datapro"
          >Datapro SpA</a
        >
      </div>
    </div>
    <div class="flex gap-2 place-content-center">
      <p
        class="sm:flex items-baseline gap-x-1 text-[0.8125rem]/6 text-white dark:text-gray-100"
      >
        Siguenos en
        <a
          class="group relative isolate flex items-center rounded-lg px-2 sm:py-0.5 py-2 text-[0.8125rem]/6 font-medium text-black/30 transition gap-x-0.5 hover:scale-110"
          href="https://twitch.tv/midudev"
        >
          <svg
            class="flex-none h-6 w-6 text-primary"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
          >
            <g fill="currentColor">
              <path
                d="M12 2.163c3.204 0 3.584.012 4.85.07 1.17.054 1.97.24 2.672.512.75.292 1.384.676 1.998 1.29s.998 1.248 1.29 1.998c.272.702.458 1.502.512 2.672.058 1.266.07 1.646.07 4.85s-.012 3.584-.07 4.85c-.054 1.17-.24 1.97-.512 2.672-.292.75-.676 1.384-1.29 1.998s-1.248.998-1.998 1.29c-.702.272-1.502.458-2.672.512-1.266.058-1.646.07-4.85.07s-3.584-.012-4.85-.07c-1.17-.054-1.97-.24-2.672-.512-.75-.292-1.384-.676-1.998-1.29s-.998-1.248-1.29-1.998c-.272-.702-.458-1.502-.512-2.672-.058-1.266-.07-1.646-.07-4.85s.012-3.584.07-4.85c.054-1.17.24-1.97.512-2.672.292-.75.676-1.384 1.29-1.998s1.248-.998 1.998-1.29c.702-.272 1.502-.458 2.672-.512C8.416 2.175 8.796 2.163 12 2.163zm0-2.163C8.723 0 8.333.013 7.052.07 5.759.128 4.72.323 3.852.692 2.988 1.062 2.246 1.585 1.513 2.317.781 3.05.259 3.792.07 4.648c-.369.868-.564 1.907-.622 3.2C-.013 8.333 0 8.723 0 12c0 3.277.013 3.667.07 4.948.058 1.293.253 2.332.622 3.2.189.856.711 1.598 1.443 2.33.732.732 1.474 1.254 2.33 1.443.868.369 1.907.564 3.2.622C8.333 23.987 8.723 24 12 24c3.277 0 3.667-.013 4.948-.07 1.293-.058 2.332-.253 3.2-.622.856-.189 1.598-.711 2.33-1.443.732-.732 1.254-1.474 1.443-2.33.369-.868.564-1.907.622-3.2.058-1.281.07-1.671.07-4.948 0-3.277-.013-3.667-.07-4.948-.058-1.293-.253-2.332-.622-3.2-.189-.856-.711-1.598-1.443-2.33-.732-.732-1.474-1.254-2.33-1.443-.868-.369-1.907-.564-3.2-.622C15.667.013 15.277 0 12 0zm0 5.838a6.162 6.162 0 1 0 0 12.324 6.162 6.162 0 0 0 0-12.324zm0 10.162a3.999 3.999 0 1 1 0-7.998 3.999 3.999 0 0 1 0 7.998zm6.406-11.845a1.44 1.44 0 1 0 0 2.879 1.44 1.44 0 0 0 0-2.879z"
              ></path>
            </g>
          </svg>

          <span class="self-baseline text-primary"> @dataprochile</span></a
        >
      </p>
    </div>
  </div>
</footer>
