---
import Rocket from "../components/Rocket.astro";
---

<section class="bg-hero">
  <div
    class="flex container mx-auto py-10 md:pb-[100px] justify-center items-center"
  >
    <div class="text-center flex justify-center items-center flex-col">
      <Rocket />
      <h1
        class="text-2xl md:text-5xl tracking-wide leading-normal my-4 px-2 md:leading-[4rem] lg:px-[250px] md:px-[10px] sm:px-0 text-black font-bold"
      >
        <span class="text-primary">Impulsa</span>
         tu éxito online con un sitio web atractivo que atrae y vende.
      </h1>
   
      <a
        href="#formulario"
        title="Solicitar presupuesto personalizado"
        target="_blank"
        rel="noopener noreferrer"
        class="mt-2 uppercase text-balance inline-flex gap-2 items-center bg-amber-300 hover:bg-amber-400 active:bg-amber-300 text-black font-bold py-2 px-4 rounded-lg border transition duration-200 ease-in-out hover:scale-105 justify-center text-center text-sm md:text-xl"
        >Solicitar presupuesto personalizado</a
      >
      <div class="flex items-center justify-center mt-4">
        <p>Paga hasta en <strong>3 cuotas*</strong> precio contado con</p>
        <img src="/img/webpay-logo.webp" alt="Webpay Logo" class="mr-2" />
      </div>
    </div>
  </div>
</section>

<style>
 .bg-hero {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(240, 248, 255, 0.9), rgba(240, 248, 255, 0.9));
}

.bg-hero::before,
.bg-hero::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    animation: moveCircle 20s infinite;
}

.bg-hero::before {
    width: 300px;
    height: 300px;
    background: radial-gradient(circle at center, rgba(30, 144, 255, 0.35) 0%, rgba(173, 216, 230, 0.2) 25%, transparent 25%);
    top: 13%;
    left: 13%;
    animation-duration: 25s;
}

.bg-hero::after {
    width: 400px;
    height: 400px;
    background: radial-gradient(circle at center, rgba(30, 144, 255, 0.45) 0%, rgba(216, 236, 255, 0.35) 56%, transparent 26%);
    bottom: 17%;
    right: 13%;
    animation-duration: 30s;
}

@keyframes moveCircle {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(20px, -30px);
    }
    50% {
        transform: translate(-20px, 30px);
    }
    75% {
        transform: translate(30px, 20px);
    }
    100% {
        transform: translate(0, 0);
    }
}

</style>
