---
import { Image } from 'astro:assets';
import Logo from '../assets/images/logo/logo-datapro.webp';
---
<nav class="sticky top-0 z-50 p-4 backdrop-blur-md bg-white/70">
    <div class="container mx-auto flex items-center justify-between">
        <!-- Logo -->
        <div class="flex items-center">
           <!--  <img src="logo.svg" alt="Logo" class="h-8 mr-3"> -->
            <Image src={Logo} alt="Logo" class="mr-3" />
        </div>

        <!-- Links para escritorio -->
        <div class="hidden md:flex space-x-10">
            <a href="#" class="text-gray-700 hover:text-gray-900">Inicio</a>
            <a href="#" class="text-gray-700 hover:text-gray-900">Clientes</a>
            <a href="#" class="text-gray-700 hover:text-gray-900">Testimonios</a>
            <a href="#" class="text-gray-700 hover:text-gray-900">Contacto</a>

        </div>

        <!-- Botones para escritorio -->
        <div class="hidden md:flex items-center space-x-4">
            <a href="#" class="bg-primary text-white px-4 py-2 rounded-md hover:bg-secondary">¡LLamanos ahora!</a>
        </div>

        <!-- Botón menú móvil -->
        <div class="md:hidden">
            <button id="menu-btn" class="focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
        </div>
    </div>

    <!-- Menú móvil -->
    <div id="menu" class="hidden md:hidden">
        <a href="#" class="block py-2 text-gray-700 hover:bg-gray-100">Tasks</a>
        <a href="#" class="block py-2 text-gray-700 hover:bg-gray-100">How it Works</a>
        <a href="#" class="block py-2 text-gray-700 hover:bg-gray-100">Pricing</a>
        <a href="#" class="block py-2 text-indigo-600 hover:bg-gray-100">Log in</a>
        <a href="#" class="block py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 text-center">Sign Up</a>
    </div>
</nav>
