---
import { Image } from "astro:assets";
import Wordpress from "../assets/images/Wordpress.png";
---

<section class="bg-pattern-1">
  <div class="container mx-auto flex flex-col lg:flex-row py-5 md:py-[100px]">
    <div
      class="w-full lg:w-1/2 flex flex-col justify-center items-start h-full text-gray-500 order-2 lg:order-1"
    >
      <h2 class="text-2xl md:text-5xl text-gray-800 py-5 font-bold tracking-wide md:leading-[4rem] landing-normal">
        Aumenta y fortalece tu presencia digital con nosotros
      </h2>
      <p class="text-balance py-2">
        En nuestra empresa, nos dedicamos a construir una presencia en línea
        sólida y efectiva para nuestros clientes. Nos comprometemos a guiarte en
        cada paso del camino, desde la creación de un sitio web cautivador hasta
        la implementación de estrategias de marketing digital que maximicen tu
        alcance.
      </p>
      <p class="text-balance py-2">
        Con nuestro apoyo, lograrás una visibilidad impactante y duradera que te
        conectará de manera efectiva con tu audiencia, asegurando tu éxito en el
        mundo digital. Juntos, trazamos el camino hacia un futuro brillante en
        la web.
      </p>
    </div>

    <div class="w-full lg:w-1/2 flex justify-center items-center py-5 lg:py-0 order-1 lg:order-2">
      <Image
        src={Wordpress}
        alt="Desarrollo web en WordPress"
        class="w-full max-w-xs md:max-w-sm lg:max-w-md"
      />
    </div>
  </div>
</section>

<style>
  .bg-pattern-1 {
    background-image: url("../assets/images/BG-icons.png");
    background-size: cover;
  }
</style>
